<div style="margin:10px;height:200px"><img border="1"
	style="border-color:yellow" src="../images/game/explosion.jpg" align="left">
{t}Your empire collapsed! Sadly, the game is now over for you. We hope you liked this game! You can create a new empire and start again{/t}
<br/><br/>
<h2>
<a href="destroy_empire.php" class="link">{t}Click here to destroy this collapsed empire{/t}</a>
</h2>
<br/><br/>
<b style="color:yellow;font-size:16px">{t}You can consult your statistics before destroying your empire{/t}</b>
</div>