		<table  cellspacing="0" cellpadding="0" border="0">
		<tr>	
		<td nowrap><img src="../images/game/tab2_left.gif" border="0"></td>
		<td nowrap bgcolor="#666666" style="padding:0px 5px 0px 5px"><a  class="link" href="manage.php"><b>{t}Manage{/t}</b></a></td> 
		<td><img src="../images/game/tab2_right.gif" border="0"></td>

		<td nowrap><img src="../images/game/tab2_left.gif" border="0"></td>
		<td nowrap bgcolor="#666666"  style="padding:0px 5px 0px 5px"><a  class="link" href="stats.php"><b>{t}Performance{/t}</b></a></td> 
		<td><img src="../images/game/tab2_right.gif" border="0"></td>

		<td nowrap><img src="../images/game/tab2_left.gif" border="0"></td>
		<td nowrap bgcolor="#666666"  style="padding:0px 5px 0px 5px"><a  class="link" href="logs.php"><b>{t}Activity Logs{/t}</b></a></td> 
		<td><img src="../images/game/tab2_right.gif" border="0"></td>

		<td nowrap><img src="../images/game/tab2_left.gif" border="0"></td>
		<td nowrap bgcolor="#666666"  style="padding:0px 5px 0px 5px"><a  class="link" href="logo_editor.php"><b>{t}Edit Logo{/t}</b></a></td> 
		<td><img src="../images/game/tab2_right.gif" border="0"></td>

		<td nowrap><img src="../images/game/tab_left.gif" border="0"></td>
		<td nowrap bgcolor="darkred"  style="padding:0px 5px 0px 5px"><a  style="text-decoration:none;color:white" href="lastturn.php"><b>{t}Turn Summary{/t}</b></a></td> 
		<td><img src="../images/game/tab_right.gif" border="0"></td>

		<td nowrap><img src="../images/game/tab2_left.gif" border="0"></td>
		<td nowrap bgcolor="#666666"  style="padding:0px 5px 0px 5px"><a  class="link" href="research.php"><b>{t}Research Map{/t}</b></a></td> 
		<td><img src="../images/game/tab2_right.gif" border="0"></td>

		<td nowrap><img src="../images/game/tab2_left.gif" border="0"></td>
		<td nowrap bgcolor="#666666"  style="padding:0px 5px 0px 5px"><a  class="link" href="edit_production.php"><b>{t}Production{/t}</b></a></td> 
		<td><img src="../images/game/tab2_right.gif" border="0"></td>
		</table>

<table width="720" cellspacing="0" cellpadding="10"
	style="border:1px solid darkred" background="../images/game/background1.jpg">
	<tr>
		<td>
		{$content} <br />
		</td>
	</tr>
</table>
