<script language="javascript">
{literal}		

		function buy_tickets(label)
		{
			var qty = prompt(label,'');
			if (qty == null) return;

			window.location='lottery.php?buy='+qty;
		}
{/literal}
	</script>
	
	<table width="720px"  style="margin:0 0 10 0;border:0px solid darkred;" cellspacing="0" cellpadding="0">
<tr>
	<td width="100%" align="left">

<table  cellspacing="0" cellpadding="0" border="0">
		<tr>	
		<td nowrap><img src="../images/game/tab2_left.gif" border="0"></td>
		<td nowrap bgcolor="#666666" style="padding:0px 5px 0px 5px"><a  class="link" href="solarbank.php"><b>{t}Solar Bank{/t}</b></a></td> 
		<td><img src="../images/game/tab2_right.gif" border="0"></td>

		<td nowrap><img src="../images/game/tab2_left.gif" border="0"></td>
		<td nowrap bgcolor="#666666"  style="padding:0px 5px 0px 5px"><a  class="link" href="globalmarket.php"><b>{t}Global Market{/t}</b></a></td> 
		<td><img src="../images/game/tab2_right.gif" border="0"></td>

		<td nowrap><img src="../images/game/tab_left.gif" border="0"></td>
		<td nowrap bgcolor="darkred"  style="padding:0px 5px 0px 5px"><a  style="text-decoration:none;color:white" href="lottery.php"><b>{t}Lottery{/t}</b></a></td>
		<td><img src="../images/game/tab_right.gif" border="0"></td>

		<td nowrap><img src="../images/game/tab2_left.gif" border="0"></td>
		<td nowrap bgcolor="#666666"  style="padding:0px 5px 0px 5px"><a  class="link" href="trade.php"><b>{t}Trade Center{/t}</b></a></td>
		<td><img src="../images/game/tab2_right.gif" border="0"></td>
		</tr>
		</table>
	</td>
</tr>
	
	<tr>
		<td>
		<table width="100%" align="center" cellspacing="0" cellpadding="10"
			style="border:1px solid darkred" background="../images/game/background1.jpg"
			bgcolor="#333333">
		<tr>
				<td width="120" rowspan="7" align="right"><img border="1"
					style="border:1px solid white"
					src="../images/game/lottery.jpg" border="0"></td>
				<td></td>
			</tr>
			<tr>
				<td>{t}Current jackpot:{/t} <b style="color:#ffcaca">{$lottery_jackpot}</b></td>
			</tr>
			<tr>
				<td>{t}Tickets sold:{/t} <b style="color:#ffcaca">{$lottery_tickets}</b></td>
			</tr>
			<tr>
				<td>{t}Ticket price:{/t} <b style="color:#ffcaca">{$lottery_ticketprice}</b></i></td>
			</tr>
			<tr>
				<td><b><i
					style="font-size:14pt;font-family:sans-serif,verdana;color:white">{t}A new winner every day!{/t}</i></b></td>
			</tr>


			<tr>
				<td><br />
				<br />
				<form><input type="button" value="Buy tickets"
					onclick="buy_tickets('{$label_tickets}')"></form>
				</td>
			</tr>
			<tr>
				<td><br />
				</td>
			</tr>

		</table>
		</td>
	</tr>
</table>
