<table  background="../images/game/background/notice.jpg"  width="720" style="border:1px solid white" cellspacing="0"
	cellpadding="2">
	<tr>
		<td>&nbsp;<img src="../images/game/letter.gif" border="0">&nbsp;</td>
		<td width="100%">
		
		<b style="color:yellow">{$subject}</b>,
		 {$date} {t}ago{/t}<br />
		<table cellspacing="0" cellpadding="0" border="0">
			<tr>
				<td><b>{t}From{/t}&nbsp;</b></td>
				<td>{$author}</td>
			</tr>
		</table>
		</td>
		<td align="right">
                    <a class="link" href="#" onclick="open_page('messages.php?id={$id}')"><b>{t}Reply{/t}</b></a>&nbsp;
                    <a class="link" href="#" onclick="if (confirm('{t}Are you sure?{/t}')) open_page('messages.php?delete={$id}'); else return false;"><b>{t}Delete{/t}</b></a>&nbsp;
                </td>
	</tr>
	<tr>
		<td colspan="3">
		<table bgcolor="#545454" width="100%"
			cellspacing="0" cellpadding="12"
			border="0">
			<tr>
				<td style="color:white;text-align:justify">{$content}</td>
			</tr>

		</table>

		</td>
	</tr>
</table>
