{capture name=page_title}
{t}Online Session{/t}
{/capture}

{include file="system/frame_header.html" title=$smarty.capture.page_title}
<!-- begin content -->



<table cellspacing="0" cellpadding="0" border="0">
<tr>
<td><img src="images/common/round_topleft.png" border="0"></td>
<td background="images/common/round_bg.gif" width="100%"><img src="images/common/transparent.gif" border="0"></td>
<td><img src="images/common/round_topright.png" border="0"></td>
</tr>

<tr>
<td background="images/common/round_bg.gif"><img src="images/common/transparent.gif" border="0"></td>
<td background="images/common/round_bg.gif" width="100%">

<div style="padding:10px">
<b class="text_big" style="color:white">{t}Welcome back{/t} </b><b class="text_big" style="color:cyan">{$player_name}</b>
<br/>
<br/>

<div align="center" class="text_small">

test

</div>

</div>


</td>
<td background="images/common/round_bg.gif"><img src="images/common/transparent.gif" border="0"></td>
</tr>

<tr>
<td><img src="images/common/round_bottomleft.png" border="0"></td>
<td background="images/common/round_bg.gif" width="100%"><img src="images/common/transparent.gif" border="0"></td>
<td><img src="images/common/round_bottomright.png" border="0"></td>
</tr>
</table>

</td>
</tr>
</table>

<!-- end content -->

{include file="system/frame_footer.html"}
