{capture name=page_title}
{t}Welcome{/t}
{/capture}

{include file="frame_header.html" title=$smarty.capture.page_title}
<!-- begin content -->



<div align="center" style="background-image:url(images/system/div_bg.jpg);background-color:darkred;padding:10px;border:1px solid red">
<div class="div_welcome_text" style="display:inline"><a class="div_welcome_link" href="login.php"><b>{t}PLAY NOW{/t}</b></a></div>&nbsp;<b class="text_huge" style="color:red">|</b>&nbsp;
<div class="div_welcome_text" style="display:inline"><a class="div_welcome2_link"  style="color:yellow" href="take_a_tour.php"><b>{t}TAKE A TOUR{/t}</b></a></div>&nbsp;<b class="text_huge" style="color:red">|</b>&nbsp;
<div class="div_welcome_text" style="display:inline"><a class="div_welcome_link" href="scoreboard.php"><b>{t}SCOREBOARD{/t}</b></a></div>&nbsp;<b class="text_huge" style="color:red">|</b>&nbsp;
<div class="div_welcome_text" style="display:inline"><a class="div_welcome2_link" href="server_status.php"><b>{t}SERVER STATUS{/t}</b></a></div>&nbsp;<b class="text_huge" style="color:red">|</b>&nbsp;
<div class="div_welcome_text" style="display:inline"><a class="div_welcome_link" href="forum.php"><b>{t}FORUM{/t}</b></a></div>
</div>
<br/>

<table cellspacing="0" cellpadding="0" border="0" align="center" width="720"  background="images/common/alpha1.png" style="border:1px solid darkred">

<tr>
<td width="100%">


<div style="padding:10px">
<b class="text_big" style="color:white">
<img src="images/system/icon_button_continuegame.png" style="border:1px solid white">
{t}Take A Tour{/t}</b>
<br/>
<br/>

<div style="background-image:url(images/common/alpha2.png);padding:10px;border:1px solid #6a6a6a;color:#fafafa" class="text_normal">
In Solar Imperium, you rule a solar empire. The goal is to become and remain the most powerful empire. You can gain strength by buying forces, and you can gain size by colonizing planets. The game is totally FREE !
</div>
<br/>

<div  style="background-image:url(images/common/alpha2.png);padding:10px;border:1px solid #6a6a6a;color:#cacaca" class="text_normal">
This game was a port from the original <a class="link" target="_NEW" href="http://en.wikipedia.org/wiki/Solar_Realsm_Elite">SOLAR REALMS ELITE</a> made by <a class="link" target="_NEW" href="http://amitp.blogspot.com">Amit Patel</a>, a pretty popular game back in BBS era (circa 1993). Since then, the game system evolved alot in specific fields like research map and real-time/invasion convoys.
</div>
<br/>
<br/>
<div align="center">
<object width="640" height="480"><param name="movie" value="http://www.youtube.com/v/U3-Z4QRbB4M&hl=en&fs=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/U3-Z4QRbB4M&hl=en&fs=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="640" height="480"></embed></object>
</div>
<br/>
</div>

</td>
</tr>

</table>

<!-- end content -->

{include file="frame_footer.html"}
