/* CSS needed for the script */

#ajax_tooltipObj{
	z-index:1000000;
	text-align:left;
}
#ajax_tooltipObj div{
	position:relative;
}


#ajax_tooltipObj .ajax_tooltip_content{
	border:2px solid darkred;	/* Border width */
	left:18px;	/* Same as border thickness */
	top:0px;
	position:absolute;
	width: 500px;
	background-color: #f0f0f0;
	color: black;
	padding:0px;	/* Space between border and content */
	font-size:0.8em;	/* Font size of content */
	overflow:auto;	/* Hide overflow content */
	z-index:1000001;
}
