<table width="100%" bgcolor="black" cellpadding="5" background="../images/game/background1.jpg">
<tr>
<td>
<img src="../images/game/event/collapsedempire.jpg" style="border:1px solid yellow">
</td>
<td width="100%" valign="top">
<div style="color:white" align="right" style="margin:0px"><b>{$date} </b></div>

<b style="color:yellow;font-size:14px;font-family:verdana;sans-serif">{t}Empire collapsed!{/t}</b><br/>
<br/>
<table style="font-size:12px;font-family:verdana;sans-serif" cellpadding="5">
<tr>
<td>{t}Goodbye{/t} {$gender} <b>'{$emperor|stripslashes}'</b> {t}of Empire{/t} <b>'{$empire|stripslashes}'</b> !!!</td>
</tr>
</table>
</td>
</tr>
</table>
