<table width="100%" bgcolor="black" cellpadding="5" background="../images/game/background1.jpg">
<tr>
<td>
<img src="../images/game/event/empire_teleported.jpg" style="border:1px solid yellow">
</td>
<td width="100%" valign="top">
<div style="color:white" align="right" style="margin:0px"><b>{$date} </b></div>

<b style="color:yellow;font-size:14px;font-family:verdana;sans-serif">{t}Teleported empire!{/t}</b><br/>
<br/>
<table width="100%" style="font-size:12px;font-family:verdana;sans-serif" cellpadding="5">
<tr>
<td nowrap>{$empire}</td></tr>
<tr><td width="100%">{t}got teleported by a unknown galaxy phenomenon, scientists said.{/t}</td>
</tr>
</table>
</td>
</tr>
</table>
