<table align="center" width="100%">
<tr>
<td rowspan="3" width="80">
<img src="../images/game/food_growth.jpg" width="64" height="64" style="border:1px solid white">
</td><td   width="300"  bgcolor="#663333">


<table cellspacing="0" cellpadding="0" border="0">
<tr><td style="color:white" align="right"><b>{t}Initial food:{/t}</b> </td><td><b >{$food_initial}</b></td></tr>
</table>
</td><td width="300" bgcolor="#663333">

<table cellspacing="0" cellpadding="0" border="0">
<tr><td style="color:white" align="right"><b>{t}Final:{/t}</b> </td><td><b >{$food_final} <b style="color:black">({$growrate} %)</b></td></tr>
</table>

</td></tr>
<tr><td>

<table cellspacing="0" cellpadding="0" border="0">
<tr><td style="color:#dddddd" align="right">{t}Eaten by population:{/t} </td><td><b >{$food_eaten_by_population}</b></td></tr>
</table>
</td><td>
<table cellspacing="0" cellpadding="0" border="0">
<tr><td style="color:#aaaaaa" align="right">{t}Produced:{/t} </td><td><b >{$food_produced}</b></td></tr>
</table>

</td></tr>
<tr>
<td>

<table cellspacing="0" cellpadding="0" border="0">
<tr><td style="color:#dddddd" align="right">{t}Eaten by army:{/t} </td><td><b >{$food_eaten_by_army}</b></td></tr>
</table>

</td>
<td>

<table cellspacing="0" cellpadding="0" border="0">
<tr><td style="color:#aaaaaa" align="right">{t}Sold:{/t} </td><td><b >{$food_sold} x {$food_unit_price}</b></td></tr>
</table>

</td>
</tr>

</table>
