<table width="100%" bgcolor="black" cellpadding="5" background="../images/game/background/battle.jpg">
<tr>
<td>
<img src="../images/game/guerilla.jpg" style="border:1px solid yellow">
</td>
<td width="100%" valign="top">
<div style="color:white" align="right" style="margin:0px"><b>{$date} </b></div>

<b style="color:yellow;font-size:14px;font-family:verdana;sans-serif">{t}Guerilla assault crushed{/t}</b><br/>
<br/>
<table style="font-size:12px;font-family:verdana;sans-serif" cellpadding="5">
<tr>
<td><img style="border:1px solid yellow" src="../images/game/empires/{$game_id}/{$empire_id}.jpg"></td>
<td>{$gender} <b>'{$emperor}'</b> of Empire <b>'{$empire}'</b> {t}try to ambush you but failed! Your losts:{/t} {t}Soldiers{/t} = <b>{$lost_soldiers}</b></b></td>
</tr>
</table>
</td>
</tr>
</table>
