<table width="100%" bgcolor="black" cellpadding="5" background="../images/game/background/warning.jpg">
<tr>
<td>
<img src="../images/game/event/incoming_invasion.jpg" style="border:1px solid yellow">
</td>
<td width="100%" valign="top">
<div style="color:white" align="right" style="margin:0px"><b>{$date}</b></div>

<table>
<tr><td>
<b style="color:yellow;font-size:14px;font-family:verdana;sans-serif">{t}A empire sent a invasion war convoy toward your empire!{/t}</b></td></tr></table>
<table style="font-size:12px;font-family:verdana;sans-serif" cellpadding="5">
<tr><td>{$empire}</td></tr>
<tr><td> 
<b style="color:white">{$soldiers}</b> {t}soldiers{/t}, 
<b style="color:white">{$fighters}</b> {t}fighters{/t}, 
<b style="color:white">{$lightcruisers}</b> {t}light cruisers{/t}, 
<b style="color:white">{$heavycruisers}</b> {t}heavy cruisers{/t}
</td></tr>
</table>
</td>
</tr>
</table>
