<table width="100%" bgcolor="black" cellpadding="5" background="../images/game/background1.jpg">
<tr>
<td>
<img src="../images/game/event/nuclear_foiled.jpg" style="border:1px solid yellow">
</td>
<td width="100%" valign="top">
<div style="color:white" align="right" style="margin:0px"><b>{$date} </b></div>

<table>
<tr><td>
<b style="color:yellow">{t}Covert agents foiled nuclear attack!{/t}</b></td></tr></table>
<table cellpadding="5">
<tr><td>{$empire}</td></tr>
<tr><td>{t}Who said recruiting covert agents was a waste of money?{/t}</td></tr>
</table>
</td>
</tr>
</table>
