<table align="center" width="100%">
<tr>
<td rowspan="3" width="80">
<img src="../images/game/petro_growth.jpg" width="64" height="64" style="border:1px solid white">
</td><td   width="300"  bgcolor="#663333">


<table cellspacing="0" cellpadding="0" border="0">
<tr><td style="color:white" align="right"><b>{t}Initial petroleum:{/t}</b></td><td><b >{$petroleum_initial}</b></td></tr>
</table>
</td><td width="300" bgcolor="#663333">

<table cellspacing="0" cellpadding="0" border="0">
<tr><td style="color:white" align="right"><b>{t}Final:{/t}</b></td><td><b >{$petroleum_final} <b style="color:black">({$growrate} %)</b></td></tr>
</table>

</td></tr>
<tr><td>

<table cellspacing="0" cellpadding="0" border="0">
<tr><td style="color:#dddddd" align="right">{t}Used for army maintenance:{/t}</td><td><b >{$petroleum_used_by_army}</b></td></tr>
</table>


</td><td>
<table cellspacing="0" cellpadding="0" border="0">
<tr><td style="color:#aaaaaa" align="right">{t}Produced:{/t}</td><td><b >{$petroleum_produced}</b></td></tr>
</table>

</td></tr>
<tr>
<td>

&nbsp;

</td>
<td>

<table cellspacing="0" cellpadding="0" border="0">
<tr><td style="color:#aaaaaa" align="right">{t}Sold:{/t}</td><td><b >{$petroleum_sold}  x {$petroleum_unit_price}</b></td></tr>
</table>

</td>
</tr>

</table>
