<table width="100%" bgcolor="black" cellpadding="5" background="../images/game/background1.jpg">
<tr>
<td>
<img src="../images/game/event/releaseplanets.jpg" style="border:1px solid yellow">
</td>
<td width="100%" valign="top">
<div style="color:white" align="right" style="margin:0px"><b>{$date}</b></div>

<b style="color:yellow;font-size:14px;font-family:verdana;sans-serif">{t}Empire release all planets!{/t}</b><br/>
<br/>
<table style="font-size:12px;font-family:verdana;sans-serif" cellpadding="5">
<tr>
<td><img style="border:1px solid yellow" src="{$logo}"></td>
<td>{$gender} <b>'{$emperor}'</b> {t}of empire{/t} <b>'{$empire}'</b> {t}released{/t}:
<b style="color:orange">{t}FOOD:{/t}{$food_planets}, 
{t}ORE:{/t}{$ore_planets}, 
{t}TOURISM:{/t}{$tourism_planets}, 
{t}SUPPLY:{/t}{$supply_planets}, 
{t}GOV:{/t}{$gov_planets}, 
{t}EDU:{/t}{$edu_planets}, 
{t}RESEARCH:{/t}{$research_planets}, 
{t}URBAN:{/t}{$urban_planets}, 
{t}PETRO:{/t}{$petro_planets}, 
{t}ANTIPOLLU:{/t}{$antipollu_planets}
</b>
</td>
</tr>
</table>
</td>
</tr>
</table>
