<br/>
<div style="padding:30px">
    <form>
        <table>
            <tr>
                <td>
                    <img src="../images/game/suicide.gif" border="0">
                </td>
                <td>
                    <br/> 
                    <b style="font-size:16px">
                        {t}You really want to destroy your beautiful empire?{/t}
                    </b>
                    <br/><br/>
                    <input type="button" value="{t}YES I DO{/t}"
                           onclick="window.location='destroy_empire.php?YES_DESTROY_IT_PLEASE';">
                    <input type="button" value="{t}Forget it, no.{/t}"
                           onClick="window.location='../gamesbrowser.php';">
                    <br/><br/><br/>
                </td>
            </tr>
        </table>
    </form>
</div>
