<form action="#" style="margin:0 0 10 0">
    <input type="button" value="{t}Start new turn{/t}" onclick="open_page('newturn.php')">
</form>
<table width="780" bgcolor="darkred" cellspacing="1"
       cellpadding="0" border="0">
    <tr>
        <td background="../images/game/header.jpg"><b>&nbsp;{t}Ready for next turn?{/t}</b></td>
    </tr>
    <tr>
        <td>
            <table background="../images/game/background1.jpg" width="100%" align="center"
                   cellspacing="0" cellpadding="5" border="0"
                   style="font-size:11pt;font-family:verdana" bgcolor="#333333">

                <tr>
                    <td>
                        <div align="center">
                            <img style="border:1px solid #666666" src="{$emperor_avatar}"><br/><br/>
                            <img style="border:1px solid #666666" src="img_logo.php?empire={$empire_id}"><br/>
			{if isset($block_coalition) }
                            <br/>
                            <img style="border:1px solid #666666" src="img_logo.php?data={$coalition_logo}">
			{/if}	
                        </div>
                    </td>
                    <td>
                        <table cellspacing="0" cellpadding="4" border="0">

                            <tr>
                                <td style="color:#CACACA" align="right">{t}Empire name:{/t}</td>
                                <td><b style="color:#ff9999">{$empire_short}</b></td>
                            </tr>
                            <tr>
                                <td style="color:#CACACA" align="right">{$gender} {t}name:{/t}</td>
                                <td><b style="color:#ff9999">{$emperor_short}</b></td>
                            </tr>
                            <tr>
                                <td style="color:#CACACA" align="right">{t}Created on:{/t}</td>
                                <td><b style="color:#ff9999">{$creation_date|date_format}</b></td>
                            </tr>
                            <tr>
                                <td style="color:#CACACA" align="right"><a
                                        href=javascript:show_help('networth') class="link" onmouseover="ajax_showTooltip('galaxypedia_short.php?search=networth',this);return false" onmouseout="ajax_hideTooltip()">{t}Net. Worth{/t}</a>:</td>
                                <td><b style="color:#ff9999">{$networth|number_format}</b></td>
                            </tr>
                            <tr>
                                <td style="color:#CACACA" align="right">{t}Ranking:{/t}</td>
                                <td><b style="color:#ff9999">{$ranking}</b> <b
                                            style="color:white">/</b> <b style="color:white">{$total_players}</b></td>
                            </tr>
                            <tr>
                                <td style="color:#CACACA" align="right"><a
                                        href=javascript:show_help('money') class="link" onmouseover="ajax_showTooltip('galaxypedia_short.php?search=credits',this);return false" onmouseout="ajax_hideTooltip()">{t}Credits{/t}</a>:</td>
                                <td><b style="color:#ff9999">{$credits|number_format}</b></td>
                            </tr>
                            <tr>
                                <td style="color:#CACACA" align="right"><a
                                        href=javascript:show_help('population') class="link" onmouseover="ajax_showTooltip('galaxypedia_short.php?search=population',this);return false" onmouseout="ajax_hideTooltip()">{t}Population{/t}</a>:</td>
                                <td><b style="color:#ff9999">{$population|number_format}</b></td>
                            </tr>

                            <tr>
                                <td style="color:#CACACA" align="right"><a
                                        href=javascript:show_help('insurgency') class="link" onmouseover="ajax_showTooltip('galaxypedia_short.php?search=insurgency',this);return false" onmouseout="ajax_hideTooltip()">{t}Insurgency{/t}</a>:</td>
                                <td><b style="color:#ff9999">{$civil_status}</b></td>
                            </tr>

                            <tr>
                                <td style="color:#CACACA" align="right"><a
                                        href=javascript:show_help('food') class="link" onmouseover="ajax_showTooltip('galaxypedia_short.php?search=food',this);return false" onmouseout="ajax_hideTooltip()">{t}Food{/t}</a>:</td>
                                <td><b style="color:#ff9999">{$food}</b></td>
                            </tr>

                            <tr>
                                <td style="color:#CACACA" align="right"><a
                                        href=javascript:show_help('ore') class="link" onmouseover="ajax_showTooltip('galaxypedia_short.php?search=food',this);return false" onmouseout="ajax_hideTooltip()">{t}Ore{/t}</a>:</td>
                                <td><b style="color:#ff9999">{$ore|number_format}</b></td>
                            </tr>

                            <tr>
                                <td style="color:#CACACA" align="right"><a
                                        href=javascript:show_help('petroleum') class="link" onmouseover="ajax_showTooltip('galaxypedia_short.php?search=food',this);return false" onmouseout="ajax_hideTooltip()">{t}Petroleum{/t}</a>:</td>
                                <td><b style="color:#ff9999">{$petroleum|number_format}</b></td>
                            </tr>

                            <tr>
                                <td style="color:#CACACA" align="right"><a
                                        href=javascript:show_help('covertagents') class="link" onmouseover="ajax_showTooltip('galaxypedia_short.php?search=covert_agents',this);return false" onmouseout="ajax_hideTooltip()">{t}Covert agents{/t}</a>:</td>
                                <td><b style="color:#ff9999">{$covertagents|number_format}</b></td>
                            </tr>

                            <tr>
                                <td style="color:#CACACA" align="right"><a
                                        href=javascript:show_help('effectiveness')  class="link" onmouseover="ajax_showTooltip('galaxypedia_short.php?search=effectiveness',this);return false" onmouseout="ajax_hideTooltip()">{t}Military effectiveness{/t}</a>:</td>
                                <td><b style="color:#ff9999">{$effectiveness}</b> <b
                                        style="color:white">%</b></td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table cellspacing="0" cellpadding="4" border="0">
                            <tr>
                                <td style="color:#CACACA" align="right"><a
                                        href=javascript:show_help('soldiers')  class="link" onmouseover="ajax_showTooltip('galaxypedia_short.php?search=soldiers',this);return false" onmouseout="ajax_hideTooltip()">{t}Soldiers{/t}</a>:</td>
                                <td><b style="color:#ff9999">{$soldiers|number_format}</b></td>
                            </tr>

                            <tr>
                                <td style="color:#CACACA" align="right"><a
                                        href=javascript:show_help('fighters')  class="link" onmouseover="ajax_showTooltip('galaxypedia_short.php?search=fighters',this);return false" onmouseout="ajax_hideTooltip()">{t}Fighters{/t}</a>:</td>
                                <td><b style="color:#ff9999">{$fighters|number_format}</b></td>
                            </tr>

                            <tr>
                                <td style="color:#CACACA" align="right"><a
                                        href=javascript:show_help('stations')  class="link" onmouseover="ajax_showTooltip('galaxypedia_short.php?search=stations',this);return false" onmouseout="ajax_hideTooltip()">{t}Defense Stations{/t}</a>:</td>
                                <td><b style="color:#ff9999">{$stations|number_format}</b></td>
                            </tr>

                            <tr>
                                <td style="color:#CACACA" align="right"><a
                                        href=javascript:show_help('lightcruisers')  class="link" onmouseover="ajax_showTooltip('galaxypedia_short.php?search=lightcruisers',this);return false" onmouseout="ajax_hideTooltip()">{t}Light cruisers{/t}</a>:</td>
                                <td><b style="color:#ff9999">{$light_cruisers|number_format}</b></td>
                            </tr>

                            <tr>
                                <td style="color:#CACACA" align="right"><a
                                        href=javascript:show_help('heavycruisers')  class="link" onmouseover="ajax_showTooltip('galaxypedia_short.php?search=heavycruisers',this);return false" onmouseout="ajax_hideTooltip()">{t}Heavy cruisers{/t}</a>:</td>
                                <td><b style="color:#ff9999">{$heavy_cruisers|number_format}</b></td>
                            </tr>

                            <tr>
                                <td style="color:#CACACA" align="right"><a
                                        href=javascript:show_help('carriers')  class="link" onmouseover="ajax_showTooltip('galaxypedia_short.php?search=carriers',this);return false" onmouseout="ajax_hideTooltip()">{t}Carriers{/t}</a>:</td>
                                <td><b style="color:#ff9999">{$carriers|number_format}</b></td>
                            </tr>

                            <tr>
                                <td style="color:#CACACA" align="right">Planets count:</td>
                                <td><b style="color:#ff9999">{$planets_count|number_format} </b> <b
                                        style="color:white">{t}planets{/t}</b></td>
                            </tr>
                            <tr>
                                <td style="color:#CACACA" align="right">{t}Research Level:{/t}</td>
                                <td><b style="color:#ff9999">{$research_level}</b></td>
                            </tr>


                            <tr>
                                <td style="color:#CACACA" align="right">{t}Turns played:{/t}</td>
                                <td><b style="color:#ff9999">{$turns_played|number_format}</b></td>
                            </tr>

                            <tr>
                                <td style="color:#CACACA" align="right">{t}Turns left:{/t}</td>
                                <td><b style="color:#ff9999">{$turns_left|number_format}</b></td>
                            </tr>
                            <tr>
                                <td style="color:#CACACA" align="right"><a
                                        href=javascript:show_help('protection')  class="link" onmouseover="ajax_showTooltip('galaxypedia_short.php?search=protection',this);return false" onmouseout="ajax_hideTooltip()">{t}Protection<{/t}/a> {t}turns remaining:{/t}</td>
                                <td><b style="color:#ff9999">{$protection_turns_left|number_format}</b></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr><td colspan="3" align="center"><br/><img style="border:1px solid darkred" src="../images/game/nextturn.jpg"></td></tr>
            </table>

        </td>
    </tr>
</table>
