
<table width="90%" align="center" bgcolor="darkred" cellspacing="1" cellpadding="0" border="0">
    <tr><td>
            <table width="100%" background="images/background1.jpg" align="center" cellspacing="0" cellpadding="5" border="0" style="font-size:11pt;font-family:verdana" bgcolor="#333333">
                <tr>
                    <td align="left"><b style="color:white">{t}Active Players{/t}</b></td>
                </tr>

                <tr><td></td></tr>
                <tr>
                    <td align="center">
			{$current_players}
                    </td>
                </tr>

                <tr><td></td></tr>

            </table>
        </td>
    </tr>
</table>
