<html>

<head>
	<title>Solar Imperium 2.7 Installer (Page 4/4)</title>
</head>

<body style="font-size:14px;font-family:sans-serif" bgcolor="#333344">
	<br/><br/>
	<div align="center">
	<div style="width:600px" align="left">
		
	<p style="background-color:#666699;color:white;padding:5px"><b>Solar Imperium 2.7 Installer (Page 4/4) :: Installation completed</b></p>
	
	<p style="text-align:justify;background-color:#ccccdd;padding:30px;border:1px solid white">
		Everything look fine, your installation is now complete and working. Please notice thats the first player registered become the administrator.
		<Br/><br/>
	<b>You have to manually remove install.php (or try <a style="color:blue" href="install.php?REMOVE">automatic removal</a>) then click here:
	<a style="color:blue" href="index.php">Solar Imperium</a></b>
	
		
 	</p>
	</div>
	</div>

</body>

</html>
