{t}Your spy was successful.{/t}
<br/>{t}Spy results are...{/t}<br/><br/>

				<b style="color:yellow">{t}Empire status{/t}</b><br/>
				<hr color="red">
				<b style="color:lightgreen">*</b><b style="color:white">{$empire_emperor}@{$empire_name}</b><b style="color:lightgreen">*</b><br/>

				<table style="font-size:13px;font-family:verdana;color:white">
				<tr><td width="250" align="right">{t}Money:{/t}</td><td><b style="color:#ffcaca">{$credits}</b></td></tr>
				<tr><td width="250" align="right">{t}Population:{/t}</td><td><b style="color:#ffcaca">{$population} (Tax rate: {$taxrate} %)</td></tr>
				<tr><td width="250" align="right">{t}Food:{/t}</td><td><b style="color:#ffcaca">{$food}</td></tr>
				<tr><td width="250" align="right">{t}Insurgency:{/t}</td><td><b style="color:#ffcaca">{$civil_status}</b></td></tr>
				<tr><td><br/></td></tr>

				<tr><td width="250" align="right">{t}Military Effectiveness:{/t}</td><td><b style="color:#ffcaca">{$effectiveness} %</b></td></tr>
				<tr><td width="250" align="right">{t}Covert agents:{/t}</td><td><b style="color:#ffcaca">{$covertagents}</b></td></tr>
				<tr><td width="250" align="right">{t}Soldiers:{/t}</td><td><b style="color:#ffcaca">{$soldiers}</b></td></tr>
				<tr><td width="250" align="right">{t}Fighters:{/t}</td><td><b style="color:#ffcaca">{$fighters}</b></td></tr>
				<tr><td width="250" align="right">{t}Defense stations:{/t}</td><td><b style="color:#ffcaca">{$stations}</b></td></tr>
				<tr><td width="250" align="right">{t}Light cruisers:{/t}</td><td><b style="color:#ffcaca">{$lightcruisers}</b></td></tr>
				<tr><td width="250" align="right">{t}Heavy cruisers:{/t}</td><td><b style="color:#ffcaca">{$heavycruisers}</b></td></tr>
				<tr><td width="250" align="right">{t}Carriers:{/t}</td><td><b style="color:#ffcaca">{$carriers}</b></td></tr>
				<tr><td><br/></td></tr>

				<tr><td width="250" align="right">{t}Food planets:{/t}</td><td><b style="color:#ffcaca">{$food_planets}</b></td></tr>
				<tr><td width="250" align="right">{t}Ore planets:{/t}</td><td><b style="color:#ffcaca">{$ore_planets}</b></td></tr>
				<tr><td width="250" align="right">{t}Tourism planets:{/t}</td><td><b style="color:#ffcaca">{$tourism_planets}</b></td></tr>
				<tr><td width="250" align="right">{t}Supply planets:{/t}</td><td><b style="color:#ffcaca">{$supply_planets}</b></td></tr>
				<tr><td width="250" align="right">{t}Government planets:{/t}</td><td><b style="color:#ffcaca">{$gov_planets}</b></td></tr>
				<tr><td width="250" align="right">{t}Education planets:{/t}</td><td><b style="color:#ffcaca">{$edu_planets}</b></td></tr>
				<tr><td width="250" align="right">{t}Research planets:{/t}</td><td><b style="color:#ffcaca">{$research_planets}</b></td></tr>
				<tr><td width="250" align="right">{t}Urban planets:{/t}</td><td><b style="color:#ffcaca">{$urban_planets}</b></td></tr>
				<tr><td width="250" align="right">{t}Petroleum planets:{/t}</td><td><b style="color:#ffcaca">{$petro_planets}</b></td></tr>
				<tr><td width="250" align="right">{t}Anti-pollution planets:{/t}</td><td><b style="color:#ffcaca">{$antipollu_planets}</b></td></tr>

				</table>

				<hr color="red">
