<div class="text_normal"><b style="color:yellow"><br/>{t}Military units deserted:{/t}</b><br/>
<table style="font-size:13px;font-family:verdana;color:white">
<tr><td align="right">{t}Soldiers:{/t}</td><td style="color:#ffcaca"><b>{$soldiers_lost|number_format}, {t}Reclaimed:{/t} {$soldiers_reclaimed|number_format}</b></td></tr>
<tr><td align="right">{t}Fighters:{/t}</td><td style="color:#ffcaca"><b>{$fighters_lost|number_format}, {t}Reclaimed:{/t} {$fighters_reclaimed|number_format}</b></td></tr>
<tr><td align="right">{t}Light cruisers:{/t}</td><td style="color:#ffcaca"><b>{$lightcruisers_lost|number_format}, {t}Reclaimed:{/t} {$lightcruisers_reclaimed|number_format}</b></td></tr>
<tr><td align="right">{t}Heavy cruisers:{/t}</td><td style="color:#ffcaca"><b>{$heavycruisers_lost|number_format}, {t}Reclaimed:{/t} {$heavycruisers_reclaimed|number_format}</b></td></tr>
<tr><td align="right">{t}Covert agents:{/t}</td><td style="color:#ffcaca"><b>{$covertagents_lost|number_format}, {t}Reclaimed:{/t} {$covertagents_reclaimed|number_format}</b></td></tr>
</table>
</div>
